<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cmt.moduleproperty.core.repository.PropertyRepository">
    <insert id="createProperty" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO property
        (
             name, full_name, type, created_at
            <if test="parentFullName != null">
            , parent_id
            </if>
        )
        VALUES
        (
             #{name}, #{fullName}, #{type}, NOW()
            <if test="parentFullName != null">
            , (SELECT a.id FROM property a WHERE a.full_name = #{parentFullName})
            </if>
         )
    </insert>
    <select id="selectPropertyById" resultType="PropertyDto">
        SELECT name, full_name, type, value, created_at, updated_at
        FROM property
        WHERE id = #{id}
    </select>
    <select id="selectPropertyByFullName" resultType="PropertyDto">
        SELECT name, full_name, type, value, created_at, updated_at
        FROM property
        WHERE full_name = #{fullName}
    </select>
    <!--    ..... -->
    <select id="findAllValueTypeProperties" resultType="PropertyDto">
        SELECT name, full_name, type, value, created_at, updated_at
        FROM property
        WHERE type='value'
        ORDER BY full_name
-- 순서 정렬
    </select>
    <select id="findChildProperties" resultType="PropertyDto">
        SELECT name, full_name, type, value, created_at, updated_at
        FROM property
        WHERE parent_id = (SELECT id FROM property WHERE full_name = #{propertyFullName})
    </select>
    <update id="updatePropertyValue">
        UPDATE property
        SET
            value = #{value}
            ,updated_at = NOW()
        WHERE full_name = #{propertyFullName} AND type = 'value'
    </update>
    <update id="changeParent">
        UPDATE property
        SET
           full_name = #{newPropertyFullName}
          ,parent_id = (SELECT id FROM property WHERE full_name = #{parentGroupPropertyFullName})
          ,updated_at = NOW()
        WHERE full_name = #{propertyFullName}
    </update>
    <delete id="deleteProperty">
        DELETE FROM property
        WHERE full_name = #{propertyFullName}
    </delete>
</mapper>